@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro.ttf") format("truetype");
}

* {
  @apply font-sfPro;
}

/* Custom scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: #fbbf24;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Buttons */

.btn {
  @apply px-4 py-2;
}

.btn-primary {
  @apply bg-primary-1 text-black duration-200 border border-transparent hover:bg-transparent hover:text-primary-1 hover:border-primary-1 active:brightness-125;
}
